textarea {
    height: unset;
}

select {
    display: unset;
}

.container {
    width: 1080px
}

.catalog-versions .add {
    text-align: right;
}

.catalog-versions .viewer .text {
    height: 20rem;
}

.catalog-version.ui-selected {
    background-color: #fff59d;
}
